* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: aqua;
    text-decoration: none;
}

/*Style and position header*/
header {
    padding: 50px;
    background-color: #4b5657;
}

header h1 {
    font-size: 40px;
    display: inline-block;
    background-color: aqua;
    color: #4b5657;
    margin: 0px 35px 0px -50px;
    padding: 5px 0px 5px 50px;
}

/*Image is set to a fixed position in the header*/
header img {
    position: absolute;
    top: 18px;
    width: 80px;
    height: auto;
    border-radius: 10px;
}

header nav {
    float: right;
    padding-top: 15px;
    margin-right: 20px;
}

header nav ul li {
    text-decoration: underline;
    font-size: 30px;
    display: inline-block;
    margin-left: 40px;
}

.content {    
    display: flex;
    flex-wrap: nowrap;
    margin-top: 40px;
    color: #415b5e;
}

h2 {
    height: auto;
    border-right: 4px solid #4b5657;
    font-size: 40px;
}

.about {
    padding: 40px 10px 0px 105px;
    width: 245px;
}

.content div {
    line-height: 1.5;
    width: 85%;
    padding: 20px 0px 0px 30px;
}

.content div p {
    margin: 10px 0px 10px 0px;
}

.work {
    padding: 40px 10px 0px 128px;
}

.work-images img {
    margin: 0px 40px 40px 0px;
    border: 6px solid #4b5657;
    box-shadow: 10px 5px 5px #657274;
}

.prework {
    width: 1000px;
}

.prework-caption {
    position: relative;
    bottom: 127px;
    left: 6px;
    font-size: 30px;
    font-weight: bold;
    color: aqua;
    width: 380px;
    background-color: #4b5657;
    padding: 6px 6px 6px 60px;
}

.contact {
    padding: 40px 10px 20px 10px;
    margin-bottom: 40px;
}

.content ul li {
    text-decoration: underline;
    font-size: 30px;
    display: inline-block;
    margin: 40px 0px 10px 40px;
}

@media screen and (max-width: 1320px) {
    .prework {
      width: 600px;
    }
  }