* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: aqua;
    text-decoration: none;
}

/*Style and position header*/
header {
    padding: 50px;
    background-color: #4b5657;
}

header h1 {
    font-size: 40px;
    display: inline-block;
    background-color: aqua;
    color: #4b5657;
    margin: 0px 35px 0px -50px;
    padding: 5px 0px 5px 50px;
}

/*Image is set to a fixed position in the header*/
header img {
    position: absolute;
    top: 18px;
    width: 80px;
    height: auto;
    border-radius: 10px;
}

header nav {
    float: right;
    padding-top: 15px;
    margin-right: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    text-decoration: underline;
    font-size: 30px;
    display: inline-block;
    margin-left: 40px;
}

.about {    
    display: flex;
    flex-wrap: nowrap;
    margin-top: 40px;
    color: #415b5e;
}

.about h2 {
    padding: 40px 10px 0px 50px;
    height: auto;
    border-right: 4px solid #4b5657;
    font-size: 40px;
}

.about div {
    line-height: 1.5;
    width: 85%;
    padding: 20px 0px 0px 30px;
}

.about div p {
    margin: 10px 0px 10px 0px;
}